  <nav class="navbar navbar-default navbar-fixed-top">
    <ul class="nav navbar-nav">
    </ul>
    <p class="navbar-text float-right">
      <%=link_to "Back to Gallery", image_path(Image.first)%></p>
  </nav>

<div class ="container text-center <%=fixed(12)%>">
  <div class = "contact-info">
    <h2> Marc Solomon</h2>

    
    <p>(212) 942-4748</p>

    <p>m.solomon.1781@gmail.com</p>
  </div>
</div>